{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static 'assets/logo/AllFin - Trabalho Neto 7.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Icone-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/stylee.css' %}">

    <title>Login</title>
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="Digite seu usuário" name="usuario" autocomplete="on" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" name="senha" placeholder="Digite sua senha" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Lembre de mim</label>
                        </div>
                        
                        <a href="#" class="text">Esqueci minha senha</a>
                    </div>

                    
                    <div class="input-field button">
                        <input class="button" type="submit" value="LOGIN">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Não tem uma conta?
                        <a href="{% url 'register-form' %}" class="text signup-link">Cadastre-se</a>
                    </span>
                </div>
            </div>


    <script src="{% static 'js/scripts.js' %}"></script>

</body>
</html>
