@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: auto;
  padding: auto;
  box-sizing:border-box;
  text-decoration: none;
}

body {

  height: auto;
  width:  auto;
  border: solid;
  display:block;
  font-size: auto;
  margin: auto;
  background: linear-gradient(0deg, #650374 10%, #082367 85.61%);
}

.cabecalho {
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  margin-right: 50%;
  height: 50px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #FFF2E7;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 2px solid #ffffff;
}

.conteudo2 {
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.conteudo-secundario2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-secundario-escrito2 {
  display: contents;
  flex-direction: column;
  gap: 32px;
  
}

.conteudo-secundario-escrito-titulo2 {

  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  color: #210053;
  

}

.container {
  display:flexbox;
  position: relative;
  margin-top: 1%;
  height: 700px;
}


.container figcaption {
  height: auto;
  width:  auto;
  position: absolute;
  font-weight: 300;
  top: 180px;
  right: 460px;
  font-family: 'Righteous', cursive;
  font-size: 40px;
  color: rgb(5, 1, 43);
}

.container2 figcaption {
  position:absolute;
  top: 780px;
  right: 500px;
  margin-top: 10%;
  margin-left: 10%;
  font-family: 'Righteous', cursive;
  font-size: 36px;
  color: rgb(26, 33, 99);
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  margin-left: 10%;
  font-size: 64px;
  color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo { 
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  margin-left: 10%;
  letter-spacing: 0px;
  word-spacing: 5px;
  line-height: 150%;
  font-size: 24px;
  color: #ECD6C4;
  
}


.conteudo-principal-imagem {
  margin-top: 2%;
  height: 460px;
}


.conteudo-principal-imagem2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
  height: 700px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 2px solid #ffffff;
  padding-top: 36px;
  font-family: 'Righteous', cursive;
  font-weight: 200;
  color: #FFF2EF;
  margin-bottom: 0px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 0.5%;
  color: #ECD6C4;
}

.rodape {
    padding: 16px;
    border-top: 2px solid #FFF2E7;
    
}

.rodape-imagem {
  height: 36px;
  display: block;
  margin: 28px solid #FFF2E7;
}

.conteudo-inferior {
  display: flex;
  gap: 16px;
  color:#FFF2E7;
  margin-left: 12%;
  font-family: 'Sarala', sans-serif;
  font-weight: 10;
  font-size: 24px;
  
}